<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MyCon" connectionString="Server=tcp:r8rvhxcgmq.database.windows.net,1433;Database=calem_here;User ID=ems_abramlimpin@r8rvhxcgmq;Password=Afr335ty13;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
  <add name="MyCon2" connectionString="Server=PC\MSSQLSERVER12;database=calem_here; User ID=sa;Password=benilde;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/404.aspx"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>